/* -- ШРИФТЫ -- */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */


body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  background-color: #f2f2f2;
}

.main-header,
.main-container,
.main-footer {
  background-color: rgb(255, 255, 255, 1);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.img {
  width: 100%;
  height: auto;
}

/* заголовки */
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;

  margin: 0;
}

/* -- BUTTONS -- */
.button {
  min-width: 40px;
  min-height: 20px;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: inherit;
  word-spacing: inherit;

  border: none;
  border-radius: 4px;
}

.button-basic {
  background-color:  rgba(117, 97, 87, 1);
}

.button-secondary {
  background-color: rgba(130, 179, 211, 1);
}

.subscription .button {
  font-size: 20px;
  line-height: 36px;
}

.cancel-button {
  background-color: transparent;
}

.favorite-added {
  background-color: rgba(125, 181, 79, 1);
}

/* -- ОСНОВНАЯ СТИЛИЗАЦИЯ -- */
.container {
  max-width: 1600px;
  margin: auto;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

/* -- HEADER -- */
.main-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.navigation-list {
  display: flex;
  max-width: 430px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;

  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;

  text-decoration: none;
  text-transform: capitalize;
}

.header-logo {
  display: block;
  margin-bottom: -6px;
  align-self: flex-start;
  width: auto;
  height: 70px;
  z-index: 2;
}

.navigation-item {
  padding: 20px 16px;
  z-index: 2;
}

.navigation-link {
  padding: 18px 0;
}

.nav-current .navigation-link {
  border-bottom: solid 2px rgba(117, 98, 87, 1);
}

.user-communication {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.header-icon-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;

  background-repeat: no-repeat;
  background-position: center;

  text-decoration: none;
}

.header-search-button {
  background-image: url(../images/icon-search.svg);
}

.header-favorite-button {
  background-image: url(../images/icon-favorite.svg);
}

.favorite-counter {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 9px;

  font-size: 10px;
  line-height: 10px;
  color: rgb(255, 255, 255);

  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.user-communication .button-basic {
  order: 1;
  margin-left: 20px;
}

/* -- INDEX -- */
/* hero */
.hero h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.hero {
  position: relative;

  margin: 0;
  padding: 0;

  height: 485px;

  background-image: url(../images/hero-background-decoration.svg), url(../images/hero-background.jpg);
  background-position: center bottom, center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);
}

.hero-frontground-image {
  position: absolute;
  top: 0;
  bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
  margin-top: 51.4px;
}

/* причины */
.title-container {
  width: 684px;
  margin: 0 auto;

  text-align: center;
}

.advantages-title-container {
  margin-bottom: 21px;
  padding: 69px 0;
}

.advantages-title-container .title {
  margin-bottom: 25px;
}

.advantages-list,
.service-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-auto-flow: dense;
  align-items: center;
  justify-items: center;

  text-align: center;
  list-style: none;

  margin: 0;
  padding: 0;
}

.advantages-card,
.service-card  {
  display: flex;
  min-height: 385px;
}

.advantages-text,
.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 0 85px;
}

.advantages-title,
.service-title {
  width: 175px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.advantages-subtitle,
.service-subtitle {
margin: 0;
}

.advantages-title::after {
  position: relative;
  display: block;

  content: "";
  margin: 30px auto 0 auto;

  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-with-pic .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-card img,
.service-card img{
  display: block;
}

.advantages-card:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-card:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-list .advantages-with-pic {
    display: flex;
    grid-column: span 3;

    color: rgb(255, 255, 255);
    background-color: rgba(130, 179, 211, 1);
}



/* сервисы */
.services-title-container {
  padding: 64px 0;
}

.service-card:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12)
}

.service-card:nth-child(even){
  background-color: rgba(131, 179, 211, 0.06);
}

.service-title::before {
  position: relative;
  display: block;
  content: "";
  width: 75px;
  height: 72px;

  margin: 0 auto 30px auto;
}

.service-housing .service-title::before {
  background: url(../images/services-hotels.svg) no-repeat center;
}

.service-food .service-title::before {
  background: url(../images/services-restorants.svg) no-repeat center;
}

.service-souvenirs .service-title::before {
  background: url(../images/services-souvenirs.svg) no-repeat center;
}

/* заинтересовались? */
.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 96px 0;
}

.search .button {
  margin-top: 54px;
}

/* -- CATALOG -- */
/* каталог фильтр */
.hotel-filter {
  background-image: url(../images/filter-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);
}

.hotel-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);

  margin: 0;
  margin-bottom: 8px;
}

.hotel-filter-paginator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.filter-paginator-item {
  display: flex;
  align-items: center;
}

.filter-navigation {
  margin-right: -10px;

  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.main-icon {
  width: 20px;
  height: 21px;
  content: "";

  background-image: url(../images/icon-house.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px 12px;
}

.hotel-filter-paginator .filter-paginator-item:not(:first-child)::before{
  position: relative;
  display: block;
  width: 8px;
  height: 17px;
  margin-right: 10px;
  padding: 0;
  content: "";

  background-image: url(../images/icon-next-page.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 6.4px auto;
}


.hotel-filter {
  padding: 70px;
  padding-top: 35px;
}

.hotel-filter-paginator {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.hotel-search-form {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.filter-check,
.filter-radio {
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.infrastructure-wrapper,
.housing-type-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.infrastructure,
.housing-type,
.price {
  margin: 0;
  padding: 0;

  border: none;
}

.price {
  margin-left: auto;
  width: 288px;
}

.price-select-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}

.price-input {
  padding: 12px 20px;
  width: 143px;
  box-sizing: border-box;

  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  border: none;
}

.price-input-from {
  border-radius: 4px 0 0 4px;
}

.price-input-to {
  border-radius: 0 4px 4px 0;
}

.price-input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.price-field {
  position: relative;
}

.price-label {
  position: absolute;
  top: 12px;
  right: 20px;

  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.slider {
  display: block;
  width: 288px;
  height: 20px;
  background-color: aliceblue;
  margin-top: 34px;
}

.form-button-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 32px;
}

/* ЧЕКБОКСЫ
.filter-check,
.filter-radio {
  padding-left: 25px;
}

.checkbox-input,
.radio-input {
  position: absolute;

  width: 12px; /*для IE6 и 7*/ /*
  margin-left: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -20px;

  background-image: url(../images/icon-checkbox-empty.svg);
}


.checkbox-input:checked + .checkbox {
  background-image: url(../images/icon-checkbox-checked.svg);
} */

/* каталог каталог */
.search-results {
  padding: 50px 70px 60px 70px;
}

.search-results-header {
  display: flex;
  justify-content: flex-start;
  gap: 70px;

  margin-bottom: 40px;
}

.fieldset-title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

/* фильтр по... */
.sort-by {
  width: 292px;
  padding: 14px 20px;
  margin: 0;
  margin-left: auto;

  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;

  appearance: none;

  background-image: url(../images/icon-arrow.svg);
  background-position: calc(100% - 20px) 50%;
  background-repeat: no-repeat;
}

.catalog-view-switcher {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.view-switcher-button {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;

  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

  .catalog-view-tile {
    background-image: url(../images/catalog-tile.svg);
  }

  .catalog-view-slideshow {
    background-image: url(../images/catalog-slideshow.svg);
  }

  .catalog-view-list {
    background-image: url(../images/catalog-list.svg);
}

.view-switcher-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

/* карточки */
.search-results-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;

  list-style: none;

  background-color: white;
  box-shadow: 0 0 0 1px  rgb(230, 230, 230);
  border-radius: 4px;
 }

 .card-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-content-wrapper {
  display: flex;
  width: 380px;
  flex-wrap: wrap;
}

.card-title a{
  color: inherit;
  text-decoration: none;
}

  .card-img {
    display: block;
  }

  .card-text-wrapper,
  .card-button-wrapper,
  .card-stars-wrapper {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  .card-button-wrapper,
  .card-stars-wrapper {
   gap: 20px;
   align-items: center;
  }

  .card-button-wrapper .button{
    display: flex;
    width: 140px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .card-price-name,
  .card-price-value {
    margin: 0;
}

.card-rating {
  display: flex;
  padding: 9px 22px 8px 23px;
  margin: 0;

  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;

  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.stars {
  display: block;
  height: 17px;
  margin: 0;
  padding: 0;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.one-star-hotel {
  width: 24px;
}

.two-stars-hotel {
  width: 48px;
}

.three-stars-hotel {
  width: 72px;
}

.four-stars-hotel {
  width: 96px;
}

.five-stars-hotel {
  width: 120px;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  list-style: none;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: inherit;

  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
}

.pagination-current .pagination-link{
  color: rgb(0, 0, 0);

  background-color: rgba(242, 242, 242, 1);
}

.pagination-next .pagination-link{
  color: rgb(0, 0, 0);

  background-color: transparent;
}

.search-results-footer::before {
  display: block;

  content: "";
  margin: 0 auto 40px auto;

  width: 100%;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
}


/* -- subscription -- */
.subscription-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;

  text-align: center;
}

.subscription-index {

  color: white;

  background-image: url(../images/subscribe-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);
}

.subscription-form {
  display: flex;
  width: 100%;
  margin-top: 54px;
}

.email-input {
  width: 60%;
  padding: 12px 20px;

  font-family: inherit;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: inherit;
  word-spacing: inherit;

  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 4px 0 0 4px;
}

.email-input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.subscription-form .button-secondary {
  max-width: 50%;
  border-radius: 0 4px 4px 0;
  margin-left: auto;
}


/* -- FOOTER -- */
.main-footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 70px 30px 70px;
}

.social {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  align-items: center;

  margin: 5px 0;
  padding: 0;
}

.social-item {
  display: block;
  height: 40px;
  width: 40px;
  align-items: center;

  list-style-type: none;
}

.social-item-button {
  display: block;
  height: 40px;
  width: 40px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  .social-vk {
    background-image: url(../images/social-vkontakte.svg);
   }

  .social-tg {
    background-image: url(../images/social-telegram.svg);
  }

  .social-yt {
    background-image: url(../images/social-youtube.svg);
}

.main-footer .phone-number {
  font-size: 40px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

/*sticky-footer*/
html {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex-grow: 1;
}
