/* -- ШРИФТЫ -- */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */
body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: red;

  margin: 0;
}

.visually-hidden {
  display: none;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* -- ШРИФТЫ ОФОРМЛЕНИЕ -- */
/* заголовки */
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: violet;
}

/* h2 {

} */

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: violet;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  color: violet;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: violet;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: violet;
}

/* -- HEADER -- */
.navigation a{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: violet;
  text-decoration: none;
}

.header-search-button {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-search.svg);
}

.header-favorite-button {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/icon-favorite.svg);
}

.favorite-counter {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.search-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: cyan ;
}

/* -- FOOTER -- */
.main-footer .phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: chartreuse;
}

.social-item {
  background-repeat: no-repeat;
  }

  .social-vk {
    background-image: url(../images/social-vkontakte.svg);
  }

  .social-tg {
    background-image: url(../images/social-telegram.svg);
  }

  .social-yt {
    background-image: url(../images/social-youtube.svg);
}

/* -- subscription -- */
.subscription input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: paleturquoise;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: palevioletred;
}

.subscription-index {
  width: 1200px;
  height: 414.86px;
  background-image: url(../images/subscribe-background.jpg);
}

/* -- INDEX -- */
/* hero */
.hero-img-container {
  position: relative;
  width: 1200px;
  height: 485px;
  background: url(../images/hero-background-decoration.svg) no-repeat 0 100%,
  url(../images/hero-background.jpg) no-repeat;
}

.hero-frontground-image {
  position: absolute;
  left: 357.5px;
  top: 51.4px;
}

.search .search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: blueviolet;
}

/* причины */
.advantages-card {
  width: 400px;
  height: 385px;
  background-repeat: no-repeat;
  background-position: center 81px;
  }

.advantages li:nth-child(1n){
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages li:nth-child(2n){
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages li:first-child,
  .advantages li:last-child {
    background-color: rgba(130, 179, 211, 1);
}


/* сервисы */
.service-card {
  width: 400px;
  height: 385px;
  background-repeat: no-repeat;
  background-position: center 81px;
  }

  .service-list li:nth-child(1n){
    background-color: rgba(131, 179, 211, 0.12)
  }

  .service-list li:nth-child(2n){
    background-color: rgba(131, 179, 211, 0.06);
  }

  .service-housing {
    background-image: url(../images/services-hotels.svg);
  }

  .service-food {
    background-image: url(../images/services-restorants.svg);
  }

  .service-souvenirs {
    background-image: url(../images/services-souvenirs.svg);
}



/* -- CATALOG -- */
/* каталог фильтр */
.hotel-filter {
  width: 1200px;
  /* height: 412px; */
  background-image: url(../images/filter-background.jpg);
}

.main-icon {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/icon-house.svg) no-repeat;
}

.filter-navigation {
  font-size: 16px;
  color: chartreuse;
  text-decoration: none;
}

.filter-labels {
  font-weight: 700;
  line-height: 23px;
  color: chartreuse;
}

.price input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: bisque;
}

.price input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: bisque;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: bisque;
  text-transform: uppercase;
}

.cancel-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: bisque;
  text-transform: uppercase;
}

/* каталог каталог */
.catalog-view {
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

  .catalog-view-tile {
    background-image: url(../images/catalog-tile.svg);
  }

  .catalog-view-slideshow {
    background-image: url(../images/catalog-slideshow.svg);
  }

  .catalog-view-list {
    background-image: url(../images/catalog-list.svg);
}

.card-title a {
  font-size: 24px;
  line-height: 28px;
  color: chartreuse;
  text-decoration: none;
}

.about-hotel-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: chartreuse;
  text-transform: uppercase;
}

.favorite-add-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: chartreuse;
  text-transform: uppercase;
}

.favorite-added {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: red;
  text-transform: uppercase;
}

.one-star-hotel {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.two-stars-hotel {
  display: block;
  width: 36px;
  height: 17px;
  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.three-stars-hotel {
  display: block;
  width: 54px;
  height: 17px;
  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.four-stars-hotel {
  display: block;
  width: 72px;
  height: 17px;
  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.five-stars-hotel {
  display: block;
  width: 90px;
  height: 17px;
  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: blueviolet;
}

.pagination a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: chartreuse;
  text-decoration: none;
}
