/* -- ШРИФТЫ -- */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */
body {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242);
}

.main-header,
.main-container,
.main-footer {
  background-color: rgb(255, 255, 255, 1);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

:root {
  --container-padding: 70px;

  --brand-basic-color: 130, 179, 211;
  --brand-basic-lighter: 131, 179, 211;
  --disabled-color: 229, 229, 229;
  --disabled-opacity: 0.3;

  --border-radius: 4px;

  --tiny-outline: 1px solid;
  --medium-outline: 2px solid;
  --focus-outline: 3px solid;

  --active-opacity: 0.3;
  --hover-opacity: 0.6;
}

/* заголовки */
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;

  margin: 0;
}

/* -- BUTTONS -- */
.button {
    display: block;
    min-width: 40px;
    min-height: 20px;
    padding: 8px 10px;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255, 1);
    text-transform: uppercase;

    border: none;
    border-radius: var(--border-radius);
  }

  .button:active {
    color: rgb(255, 255, 255, 0.3);
    border-bottom: none;
    box-shadow: none;
  }

  .button:focus-visible {
    outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
}

  .button:disabled {
    background-color: rgb(var(--disabled-color));
  }

  .button:disabled:hover,
  .button:disabled:active {
    background-color: rgb(var(--disabled-color));
    color: rgb(255, 255, 255);
}


.button-basic {
  background-color: rgb(117, 97, 87, 1);
  }

  .button-basic:hover,
  .button-basic:focus {
    background-color: rgb(97, 80, 72);
  }

  .button-basic:active {
    background-color: rgb(117, 97, 87, 1);
}

.button-secondary {
  background-color: rgb(var(--brand-basic-color));
  }

  .button-secondary:hover,
  .button-secondary:focus {
    background-color: rgb(104, 162, 202, 1);
  }

  .button-secondary:active {
    background-color: rgb(var(--brand-basic-color));
}

.subscription .button {
  font-size: 20px;
  line-height: 36px;
}

.cancel-button {
    background-color: transparent;
  }

  .cancel-button:hover {
    opacity: var(--hover-opacity);
  }

  .cancel-button:not(:disabled):active {
    opacity: var(--active-opacity);
  }

  .cancel-button:disabled,
  .cancel-button:disabled:hover {
    background-color: inherit;
    color: rgb(255, 255, 255, 0.1);
}

.favorite-added {
   background-color: rgb(125, 181, 79, 1);
  }

  .favorite-added:hover,
  .favorite-added:focus {
    background-color: rgb(108, 158, 66, 1);
  }

  .favorite-added:active {
    background-color: rgb(125, 181, 79, 1);
}

.input:disabled {
  background-color: rgb(var(--disabled-color), var(--disabled-opacity));
  color: rgb(255, 255, 255, 0.6);
}

.input:disabled::placeholder {
  color: rgb(255, 255, 255);
}

/* -- ОСНОВНАЯ СТИЛИЗАЦИЯ -- */
.container {
  width: 1200px;
  margin: 0 auto;

  background-color: rgb(255, 255, 255);
}

/* -- HEADER -- */
.main-header {
  display: flex;
  margin: 0;
  padding: 0 var(--container-padding);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.navigation-list {
  display: flex;
  max-width: 430px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;

  list-style: none;
}

.header-logo {
  display: block;
  margin-bottom: -6px;
  align-self: flex-start;
  width: auto;
  height: 70px;
  z-index: 2;
}

.header-logo:focus-visible {
    outline: none;
    box-shadow:  1px 1px 4px rgb(var(--brand-basic-lighter));
  }

  .header-logo:active {
    opacity: var(--active-opacity);
  }

  .header-logo:hover {
    opacity: var(--hover-opacity);
  }

.navigation-item {
  padding: 0 16px;
  z-index: 2;
}

.navigation-link {
    display: block;
    padding: 20px 0;

    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;

    text-decoration: none;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
  }

  .navigation-link:hover {
    opacity: var(--hover-opacity);
  }

  .navigation-link:focus-visible {
    padding: 20px 16px;
    margin-left: -16px;
    margin-right: -16px;
    outline: none;
    border-bottom: var(--medium-outline) rgb(var(--brand-basic-lighter));
    box-shadow:  1px 1px 4px rgb(var(--brand-basic-lighter));
  }

  .navigation-link:active,
  .navigation-link:active{
    opacity: var(--active-opacity);
}

.nav-current .navigation-link {
  border-bottom: solid 2px rgb(117, 98, 87, 1);
 }

 .nav-current .navigation-link:hover {
  opacity: var(--hover-opacity);
 }

 .nav-current .navigation-link:focus-visible {
   outline: none;
   border-bottom: var(--medium-outline) rgb(117, 98, 87, 1);
   box-shadow:  1px 1px 4px rgb(117, 98, 87, 1);
}

.user-communication {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  text-align: center;
}

.header-icon-button {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
  }

  .header-icon-button:not(:disabled):active {
    opacity: var(--active-opacity);
  }

  .header-icon-button:focus {
    outline: none;
  }

  .header-search-button {
    --header-icon: url(../images/icon-search.svg);
  }

  .header-favorite-button {
    --header-icon: url(../images/icon-favorite.svg);
  }

  .header-favorite-button:hover .favorite-counter,
  .header-favorite-button:focus .favorite-counter  {
    background-color: rgb(149, 218, 93);
  }

  .header-favorite-button:disabled .favorite-counter {
    background-color: rgb(var(--disabled-color));
}

.header-icon-button::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;

  background-color: rgb(0, 0, 0);

  -webkit-mask: var(--header-icon) no-repeat center;
  mask: var(--header-icon) no-repeat center;
}

.header-icon-button:hover::before,
.header-icon-button:focus::before {
  background-color: rgb(var(--brand-basic-lighter));
}

.header-favorite-button:hover::before,
.header-favorite-button:focus::before {
  background-color: rgb(255, 0, 0);
}

.header-icon-button:disabled::before {
  background-color: rgb(var(--disabled-color));
}

.favorite-counter {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 20px;

  font-size: 10px;
  line-height: 10px;
  color: rgb(255, 255, 255);

  background-color: rgb(125, 181, 79, 1);
  border-radius: 50%;
}

.user-communication .button-basic {
  order: 1;
  margin-left: 20px;
  width: 160px;
}

/* -- INDEX -- */
/* hero */
.hero-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-left: 70px;
  padding-top: 40px;
}

.hero {
  position: relative;
  width: 100%;

  margin: 0;
  padding: 0;

  height: 485px;

  background-image: url(../images/hero-background-decoration.svg), url(../images/hero-background.jpg);
  background-position: center calc(100% + 1px), center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: rgb(var(--brand-basic-lighter), 0.32);
}

.hero-frontground-image {
  position: absolute;
  top: 50px;
  bottom: 0;
	left: 0;
	right: 0;

  object-fit: contain;
  margin: 0 auto;
}

/* причины */
.title-container {
  width: 684px;
  margin: 0 auto;

  text-align: center;
}

.advantages-title-container {
  margin-bottom: 21px;
  padding: 69px 0;
}

.services-title {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-title-container .title {
  margin-bottom: 25px;
}

.advantages-list,
.service-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  list-style: none;
}

.advantages-card,
.service-card  {
  display: flex;
  min-height: 385px;
}

.advantages-text,
.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 40px 85px;
}

.advantages-title,
.service-title {
  width: 175px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.advantages-subtitle,
.service-subtitle {
  margin: 0;
}

.advantages-title::after {
  display: block;

  content: "";
  margin: 30px auto 0 auto;

  width: 60px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.30);
}

.advantages-card-wide .advantages-title::after {
  background-color: rgb(255, 255, 255, 0.30);
}

.advantages-picture-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
}

.advantages-card-picture {
  display: block;
  object-fit: contain;
}

.advantages-card-picture-reversed {
  order: -1;
}

.advantages-card:nth-child(odd) {
    background-color: rgb(var(--brand-basic-lighter), 0.2);
  }

  .advantages-card:nth-child(even) {
    background-color: rgb(var(--brand-basic-lighter), 0.12);
  }

  .advantages .advantages-card-wide {
    grid-column: 1 / -1;
    justify-content: space-between;

    color: rgb(255, 255, 255);
    background-color: rgb(var(--brand-basic-color));
}



/* сервисы */
.services-title-container {
  padding: 64px 0;
}

.service-card:nth-child(odd){
  background-color: rgb(var(--brand-basic-lighter), 0.12)
}

.service-card:nth-child(even){
  background-color: rgb(var(--brand-basic-lighter), 0.06);
}

.service-title::before {
  position: relative;
  display: block;
  content: "";
  width: 75px;
  height: 72px;

  margin: 0 auto 30px auto;
  background: var(--service-title-icon) no-repeat center;
}

.service-housing .service-title::before {
  --service-title-icon: url(../images/services-hotels.svg);
}

.service-food .service-title::before {
  --service-title-icon: url(../images/services-restorants.svg);
}

.service-souvenirs .service-title::before {
  --service-title-icon: url(../images/services-souvenirs.svg);
}

/* заинтересовались? */
.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 96px 0;
}

.search .button-basic {
  margin-top: 54px;
  width: 376px;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/* -- CATALOG -- */
/* каталог фильтр */
.hotel-filter {
  background-image: url(../images/filter-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(var(--brand-basic-lighter), 0.32);
}

.hotel-filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: rgb(255, 255, 255, 1);

  margin: 0;
  margin-bottom: 8px;
}

.hotel-filter-paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}


.filter-paginator-item {
  display: flex;
  align-self: center;
}

.filter-navigation {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  }

  .filter-navigation:hover {
  opacity: var(--hover-opacity);
  }

  .filter-navigation:focus-visible {
    outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
    }

  .filter-navigation:active {
   opacity: var(--active-opacity);
}


.main-icon {
  width: 22px;
  height: 21px;
  content: "";
  padding-right: 10px;
  margin-right: -8px;
  margin-left: -10px;

  background-image: url(../images/icon-house.svg);
  background-repeat: no-repeat;
  background-position: 12px 4px;
  background-size: 12px 12px;
}

.hotel-filter-paginator .filter-paginator-item:not(:first-child)::before{
  display: block;
  width: 8px;
  height: 20px;
  margin-right: 10px;
  padding: 0;
  content: "";

  opacity: 1;
  background-image: url(../images/icon-next-page.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 8px 10px;
}


.hotel-filter {
  padding: 70px var(--container-padding);
  padding-top: 35px;
}

.hotel-search-form {
  display: flex;
  gap: 70px;
}

/* внутренности поиска */
.fieldset:disabled .fieldset-title {
  opacity: var(--disabled-opacity);
}

.fieldset:disabled .check-or-radio-input,
.fieldset:disabled .check-or-radio-label,
.check-or-radio-input:disabled,
.check-or-radio-input:disabled ~ .check-or-radio-label {
  opacity: var(--disabled-opacity);
}


.filter-check,
.filter-radio {
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.infrastructure-wrapper,
.housing-type-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.infrastructure,
.housing-type,
.price {
  margin: 0;
  padding: 0;

  border: none;
}

/* чекбоксы и радио кнопки */
.checkbox-item,
.radio-item {
  display: flex;
  align-items: center;
  gap: 16px;
  }

  .checkbox-item:hover,
  .radio-item:hover {
    opacity: var(--hover-opacity);
  }

  .checkbox-item:active,
  .radio-item:active  {
    opacity: var(--active-opacity);
}

.checkbox-input,
.radio-input {
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;

  background-color: rgb(255, 255, 255);
 }

  .checkbox-input {
    border-radius: var(--border-radius);
  }

  .radio-input {
    border-radius: 50%;
  }

  .checkbox-input:checked {
    background-image: url(../images/icon-checkbox-checked.svg);
    background-repeat: no-repeat;
  }

  .radio-input:checked {
    background-image: url(../images/icon-radio-checked.svg);
    background-repeat: no-repeat;
  }

 .checkbox-input:focus-visible,
 .radio-input:focus-visible {
  outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
}

/* стоимость */
.price {
  margin-left: auto;
  width: 288px;
}

.price-select-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  --gap: 2px;
  column-gap: var(--gap);
}

.price-field {
  display: flex;
  position: relative;
  width: calc(50% - var(--gap));
}

.price-input {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;

    font-family: inherit;
    font-size: inherit;
    line-height: 24px;
    font-weight: 700;
    color: inherit;

    border: none;
  }

  .price-input:focus {
    outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
}

.price-input-from {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.price-input-to {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.price-input::placeholder {
  color: rgb(0, 0, 0, 1);
}

.price-label {
  position: absolute;
  top: 12px;
  right: 20px;

  line-height: 24px;
  color: rgb(0, 0, 0, 1);
  opacity: 0.3;
}

/* слайдер фильтра по цене*/
.slider {
  display: flex;
  position: relative;
  width: 288px;
  height: 20px;
  margin-top: 34px;
}

.slider-button {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255, 1);
  border: none;
  border-radius: 5px;
 }

 .slider-button:active {
  outline: var(--medium-outline) rgb(var(--brand-basic-lighter));
 }

 .slider-button:focus-visible {
  outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
}


.slider-line-no-active {
  position: absolute;
  width: 100%;
  height: 5px;

  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

  background-color: rgb(255, 255, 255, 1);
  opacity: 0.3;
}

.slider-line-active {
  position: absolute;
  width: 75%;
  height: 5px;
  background-color: rgb(255, 255, 255, 1);;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  margin-left: 0;
}

.slider-button-from {
  position: absolute;
}

.slider-button-to {
  position: absolute;
  left: 206px;
}

.form-button-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 32px;
}

.form-button-wrapper .button {
  min-width: 191px;
}

.fieldset:disabled .slider-button,
.fieldset:disabled .slider-line {
  background-color: rgb(var(--disabled-color), var(--disabled-opacity));
}


/* каталог каталог */
.search-results {
  padding: 50px var(--container-padding) 60px var(--container-padding);
}

.search-results-header {
  display: flex;
  align-items: center;
  gap: 70px;

  margin-bottom: 40px;
}

.search-results-header .title {
  max-width: 450px;
  margin: 0;
}

.fieldset-title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

/* фильтр по... */
.sort-by {
    width: 292px;
    height: max-content;
    --horisontal-padding: 20px;
    padding: 14px var(--horisontal-padding);
    margin: 0;
    margin-left: auto;

    font: inherit;
    color: inherit;

    background-color: rgb(255, 255, 255);
    border: var(--medium-outline) rgb(229, 229, 229);
    border-radius: var(--border-radius);

    appearance: none;

    background-image: url(../images/icon-arrow.svg);
    background-position: calc(100% - var(--horisontal-padding)) 50%;
    background-repeat: no-repeat;
  }

  .sort-by:hover,
  .sort-by:focus-visible {
    outline: none;
    border: var(--medium-outline) rgb(104, 162, 202);
  }

  .sort-by:disabled {
    opacity: 0.3;
    border: var(--medium-outline) rgb(0, 0, 0, 0.3);
}

.catalog-view-switcher {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-view-switcher .active {
  border: var(--medium-outline) rgb(0, 0, 0, 1);
}

.view-switcher-button {
    display: flex;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border: var(--medium-outline) rgb(229, 229, 229, 1);
    border-radius: var(--border-radius);
    padding: 0;

    background-color: rgb(255, 255, 255);
  }

  .view-switcher-button:hover,
  .view-switcher-button:active {
    border: var(--medium-outline) rgb(0, 0, 0, 1);
  }

  .view-switcher-button:focus-visible {
    outline: none;
    border: var(--medium-outline) rgb(104, 162, 202);
  }

  .view-switcher-button:disabled::before {
    background-color: rgb(var(--disabled-color));
  }

  .view-switcher-button::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;

    background-color: rgb(0, 0, 0);

    -webkit-mask: var(--view-switcher) no-repeat center;
    mask: var(--view-switcher) no-repeat center;
    mask-size: 16px 14px;
  }

  .catalog-view-tile {
    --view-switcher: url(../images/catalog-tile.svg);
  }

  .catalog-view-slideshow {
    --view-switcher: url(../images/catalog-slideshow.svg);
  }

  .catalog-view-list {
    --view-switcher: url(../images/catalog-list.svg);
}

/* карточки */
/* общее для карточек */
.hotel-card {
  display: grid;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  row-gap: 16px;

  list-style: none;

  background-color: rgb(255, 255, 255);
  outline: var(--tiny-outline) rgb(230, 230, 230);
  border-radius: var(--border-radius);
}

.hotel-card .card-img-link,
.hotel-card .card-title {
  grid-column: 1 / -1;
}

.card-img {
  display: block;
  width: 300px;
  height: 212px;
  object-fit: cover;
}

.card-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  max-height: fit-content;
}

.card-title-link {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.stars {
  align-self: center;
}

.card-price-name,
.card-price-value {
  margin: 0;
}

.card-price-value {
  text-align: end;
}

.hotel-card .button{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.card-rating {
  display: flex;
  box-sizing: border-box;
  padding: 8px 23px;
  margin: 0;

  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: rgb(51, 51, 51, 1);
  text-transform: uppercase;

  background-color: rgb(242, 242, 242, 1);
  border-radius: var(--border-radius);
}

.stars {
  display: block;
  height: 17px;
  margin: 0;
  padding: 0;

  --width: 24px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.one-star-hotel {
  width: calc(var(--width) * 1);
}

.two-stars-hotel {
  width: calc(var(--width) * 2);
}

.three-stars-hotel {
  width: calc(var(--width) * 3);
}

.four-stars-hotel {
  width: calc(var(--width) * 4);
}

.five-stars-hotel {
  width: calc(var(--width) * 5);
}

/* ВИД ПЛИТКОЙ */

.search-results-cards {
  padding: 0;
  padding-bottom: 40px;
  border-bottom: var(--tiny-outline) rgb(230, 230, 230, 1);
}

.search-results-view-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 20px;
  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

/* ВИД слайдшоу */
.slider-button-wrapper {
  position: relative;
}

.search-results-view-slideshow {
    display: flex;
    position: relative;
    width: auto;
    height: 700px;

    gap: 780px;
    padding: 50px 50px;
    margin-bottom: -50px;
    align-items: center;

    overflow: hidden;

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    z-index: 1;
    list-style: none;
  }

  .search-results-view-slideshow::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(../images/subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/* неактивные карточки */
.hotel-card-slideshow {
  display: grid;
  min-width: 340px;
  height: 70%;
  padding: 20px;
  box-sizing: border-box;

  opacity: 0;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 16px;

  list-style: none;

  background-color: transparent;
  outline: var(--tiny-outline)  rgb(230, 230, 230);
  border-radius: 30px;
}

.hotel-card-slideshow .card-img {
  border-radius: 5%;
}

.search-results-view-slideshow .slideshow-previous-card,
.search-results-view-slideshow .slideshow-next-card {
  position: absolute;
  opacity: 1;
  background-color: rgb(255, 255, 255, 0.5);
}

.search-results-view-slideshow .slideshow-previous-card {
  left: -170px;
}

.search-results-view-slideshow .slideshow-next-card {
  right: -170px;
}

/* активная карточка */
.search-results-view-slideshow .slideshow-active-card {
  display: grid;
  width: 50%;
  height: 90%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto auto;
  padding: 30px 50px;
  box-sizing: border-box;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;

  opacity: 1;
  background-color: rgb(255, 255, 255);
  outline: var(--tiny-outline)  rgb(165, 165, 165);
  border-radius: 30px;
  box-shadow: 0 0 19px;
}

.slideshow-active-card .card-img-link {
  grid-column: 1 / -1;
  justify-self: stretch;
}

.slideshow-active-card .card-img {
  width: 100%;
  height: auto;
  margin: 0 auto;

  border-radius: 5%;
}

.slideshow-active-card .card-title {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-top: 10px;
  justify-self: center;
}

.slideshow-active-card .stars {
  position: relative;
  transform: scale(1);

  grid-row: 2;
  grid-column: 2;
  margin-top: -65px;
  margin-left: 110px;

  background-image: url(../images/icon-hotel-star-gold.svg);
}

.slideshow-active-card .card-price-name,
.slideshow-active-card .card-price-value {
  font-size: 20px;
  text-align: center;
}

.slideshow-active-card .button-basic{
  grid-column: 1;
  position: relative;
}

.slideshow-active-card .button-secondary {
  grid-column: 1 / -1;

}

.slideshow-active-card .card-rating {
  grid-column: 2;
  grid-row: 4;
}


/* кнопки переключения слайдшоу*/
.slideshow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0;

    top: 370px;
    right: 185px;
    bottom: auto;

    z-index: 1;

    box-sizing: border-box;
    background-color: rgb(142, 193, 226);
    border-radius: 50%;
    border: var(--medium-outline) rgb(104, 162, 202);
    background-repeat: no-repeat;
    background-position: center;
  }

  .slideshow-button:active {
    opacity: var(--active-opacity);
    box-shadow: 10px 10px 19px -11px rgb(0, 0, 0);
  }

  .slideshow-button:focus-visible {
    outline: var(--medium-outline) rgb(104, 162, 202);
    background-color: rgb(142, 193, 226, 0.5);
    box-shadow: 10px 10px 19px -11px rgb(0, 0, 0);
  }

  .slideshow-button:hover {
    opacity: var(--hover-opacity);
}

.slideshow-button::before {
  content: "";
  display: block;
  min-width: 172px;
  height: 562px;
  margin-left: 72px;
  margin-top: -253px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  border-radius: 30px 0 0 30px;
}

.slideshow-button:hover::before {
  opacity: var(--hover-opacity);
}

.slideshow-next-button {
    right: 185px;

    background-image: url(../images/icon-next-page.svg);
  }

.slideshow-previous-button {
  left: 185px;

  background-image: url(../images/icon-next-page.svg);
  transform: scaleX(-1);
}

/* ВИД СПИСКОМ */
.search-results-view-list {
  display: grid;

  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.search-results-view-list .hotel-card-list {
  display: grid;
  width: auto;
  grid-template-columns: auto repeat(4, 1fr);
  gap: 16px;

  padding: 20px;

  background-color: rgb(255, 255, 255);
  outline: var(--tiny-outline)  rgb(230, 230, 230);
  border-radius: var(--border-radius);
}

.hotel-card-list .card-img-link {
  grid-row: 1 / 5;
  grid-column: 1;
}

.hotel-card-list .card-img {
  border-radius: 7%;
  opacity: 0.9;
}

.hotel-card-list .card-img:hover {
  opacity: 1;
}

.hotel-card-list .card-title {
  grid-row: 1;
  grid-column: 2 / 5;
  font-size: 28px;
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

.hotel-card-list  .card-price-name,
.hotel-card-list  .card-price-value {
  padding-top: 70px;
  font-size: 20px;
}

.hotel-card-list  .card-price-name {
  grid-row: 2;
  grid-column: 2;
}

.hotel-card-list .card-price-value {
  grid-row: 2;
  grid-column: 5;
  text-align: end;
  align-self: end;
}

.hotel-card-list .button-basic {
    grid-row: 4;
    grid-column: 2;
    height: 40px;
    width: 100%;
  }

  .hotel-card-list .button-basic:hover {
    opacity: var(--hover-opacity);
}

.hotel-card-list .button-secondary {
  grid-row: 4;
  grid-column: 3;
  height: 40px;
  width: 100%;
  justify-self: end;
  align-self: end;
}

.hotel-card-list .card-rating {
  grid-row: 4;
  grid-column: 5;
  height: 40px;
  width: 100%;
  justify-self: end;
  align-self: end;
}

.hotel-card-list .stars-number {
  position: relative;
  transform: scale(1);
}

.hotel-card-list .stars {
  display: block;
  width: auto;
  font-size: 20px;
  align-self: end;
  justify-self: end;

  grid-row: 2;
  grid-column: 3;

  background-image: none;
}


/* пагинация */
.search-results-footer {
  display: flex;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  list-style: none;
}

.pagination-link {
    display: flex;
    min-width: 60px;
    height: 60px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;

    background-color: rgb(var(--brand-basic-color));
    border-radius: var(--border-radius);
    border: none;
  }

  .pagination-link:hover,
  .pagination-link:focus-visible {
    background-color: rgb(104, 162, 202, 1);
    outline: var(--tiny-outline) rgb(var(--brand-basic-color));
  }

  .pagination-link:active {
    color: rgb(255, 255, 255, 0.3);
    background-color: rgb(var(--brand-basic-color));
    outline: none;
}

.pagination-current .pagination-link{
  color: rgb(0, 0, 0);

  background-color: rgb(242, 242, 242, 1);
}

.pagination-next .pagination-link{
  color: rgb(0, 0, 0);

  background-color: transparent;
}

.pagination-show-more {
  display: flex;
  min-height: 60px;
  min-width: max-content;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;

  align-items: center;
  align-self: flex-end;
}

/* -- subscription -- */
.subscription-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;

  text-align: center;
}

.subscription-index {
  color: rgb(255, 255, 255);

  background-image: url(../images/subscribe-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(var(--brand-basic-lighter), 0.32);
}

.subscription-form {
  display: flex;
  width: 100%;
  margin-top: 54px;
}

.email-input {
    flex-grow: 1;
    padding: 12px 20px;

    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: rgb(0, 0, 0, 1);

    background-color: rgb(242, 242, 242, 1);
    border: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  .email-input:focus {
    outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
  }

  .email-input::placeholder {
    color: rgb(0, 0, 0, 0.6);
}

.subscription-form .button-secondary {
  width: 34%;
  max-width: 50%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


/* -- FOOTER -- */
.main-footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px var(--container-padding) 30px var(--container-padding);
}

.social {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 5px 0;
  padding: 0;
}

.social-item {
    list-style-type: none;
  }

  .social-item-button {
    display: flex;
    height: 40px;
    width: 47px;
    justify-content: center;
    align-items: center;
  }

  .social-item-button::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;

    background-color: rgb(var(--brand-basic-lighter));

    -webkit-mask: var(--social-icon) no-repeat center;
    mask: var(--social-icon) no-repeat center;
  }

  .social-vk {
    --social-icon: url(../images/social-vkontakte.svg);
  }

  .social-tg {
    --social-icon: url(../images/social-telegram.svg);
  }

  .social-yt {
    --social-icon: url(../images/social-youtube.svg);
  }

  .social-item-button:hover::before,
  .social-item-button:focus::before {
    background-color: rgb(104, 162, 202);
  }

  .social-item-button:focus-visible {
    outline: none;
    box-shadow:  1px 1px 4px rgb(var(--brand-basic-lighter));
  }

  .social-item-button:active::before {
    background-color: rgb(104, 162, 202);
    opacity: var(--active-opacity);
}


.main-footer .phone-number {
    font-size: 40px;
    max-width: 600px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    font-family: inherit;
  }

  .main-footer .phone-number:hover {
    color: rgb(117, 97, 87, 1);
  }

  .main-footer .phone-number:focus-visible {
    outline: none;
    padding: 20px;
    margin: -20px;
    border-bottom: 3px solid rgb(117, 97, 87, 0.6);
    color: rgb(117, 97, 87, 1)
  }

  .main-footer .phone-number:active {
    color: rgb(117, 97, 87, 0.3);
}

.logo-html-academy {
    width: 115px;
    height: 33px;
    align-self: center;

    background-color: transparent;
    border: none;
    font-family: inherit;
  }

  .logo-html-academy:focus-visible {
    outline: none;
    padding: 20px;
    margin: -20px;
    border-bottom: 3px solid rgb(117, 97, 87, 0.3);
  }

  .logo-html-academy-svg:hover,
  .logo-html-academy:focus .logo-html-academy-svg {
    fill: rgb(117, 97, 87);
  }

  .logo-html-academy-svg:active {
    fill: rgb(117, 97, 87);
    fill-opacity: var(--active-opacity);
}

/* sticky-footer */
body {
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

/* форма поиска гостиницы */
.popup-search-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;

  z-index: 5;

  background-color: rgb(242, 242, 242, 0.8);
}

.popup-search-container {
  display: flex;
  flex-direction: column;

  width: 717px;

  position: absolute;
  top: 396px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 64px var(--container-padding);
  box-sizing: border-box;

  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}

.popup-title-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 48px;
}

.popup-title {
  margin: 0;
}

.popup-close-button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin-right: -18px;

    background-color: rgb(242, 242, 242, 1);
    background-image: url(../images/icon-x.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .popup-close-button:hover {
    background-color: rgb(230, 230, 230, 1);
  }

  .popup-close-button:focus-visible {
    outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
  }

  .popup-close-button:active {
    background-color: rgb(230, 230, 230, 1);
    opacity: var(--active-opacity);
 }

.popup-search-list,
.popup-search-sublist {
  display: flex;
  flex-direction: column;
  gap: 23px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popup-search-sublist {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-search-list-item {
  display: grid;
  grid-template-columns: 1fr auto;
}

.popup-search-sublist-item {
  display: flex;
  flex-wrap: nowrap;
  gap: 46px;
  justify-content: space-between;
}

.popup-label-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;

  align-self: center;
}

.popup-input {
  border-radius: var(--border-radius);
  background-color: rgb(242, 242, 242);
  border: none;

  grid-column: 2;
  justify-self: end;

  font-family: inherit;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.popup-label-caption {
  margin: 0;
  margin-top: 4px;
  grid-column: 2;

  font-size: 16px;
  padding: 0 20px;
}

.text-error {
  color: rgb(255, 87, 87, 1)
}

.popup-input::placeholder {
  font-family: inherit;
  color: rgb(0, 0, 0, 0.6);
  opacity: 1;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.popup-date-input {
    width: 440px;
    padding: 12px 20px;
    box-sizing: border-box;

    background-image: url(../images/icon-calendar.svg);
    background-position: calc(100% - 22px) 50%;
    background-repeat: no-repeat;
}

.popup-date-input:hover {
  background-color: rgb(230, 230, 230);
}

.popup-date-input:focus {
  background-color: rgb(230, 230, 230);
  outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
}


.number-input-wrapper {
  display: grid;
  grid-template-columns: 20px auto 20px;
  position: relative;
  min-width: 110px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: var(--border-radius);

  background-color: rgb(242, 242, 242);
}

.popup-number-input {
  text-align: center;
  padding: 0;
 }

 .popup-number-input:focus {
  outline: var(--focus-outline) rgb(var(--brand-basic-lighter));
 }

  .popup-number-button {
    width: 20px;
    height: 20px;
    padding: 14px 0;

    background-repeat: no-repeat;
    background-color: rgb(242, 242, 242);
    background-position: center;
    border: none;
    opacity: 0.3;
  }

 .popup-input-minus {
    background-image: url(../images/icon-minus.svg);
  }

  .popup-input-plus {
   background-image: url(../images/icon-plus.svg);
  }

  .popup-number-button:hover {
    opacity: 1;
  }

  .popup-number-button:focus-visible {
    border-radius: var(--border-radius);
    outline: var(--focus-outline) rgb(var(--brand-basic-color));
    opacity: 1;
  }

  .popup-search-button {
    width: 100%;
    margin-top: 48px;
    padding: 18px 77px;

    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
}

.popup-label-kids {
  display: flex;
  align-items: center;
}

.popup-label-kids::after {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-left: 10px;

  content: "";

  border-radius: 50%;
  background-color: rgb(var(--brand-basic-lighter));
  background-image: url(../images/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.kids-description {
  position: absolute;
  transform: scale(1);

  display: block;
  width: 256px;
  height: min-content;
  margin: 0;
  padding: 20px 18px 22px 22px;
  box-sizing: border-box;

  top: 53px;
  right: 0;
  bottom: 0;
  left: -188px;

  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 20px;

  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  box-shadow: 0 15px 30px 0 rgb(0, 0, 0, 0.3);
}

.kids-description::before {
  display: block;
  position: absolute;
  width: 19px;
  height: 9px;

  content: "";
  background-image: url(../images/popup-triangle.svg);

  margin-top: -29px;
  margin-bottom: 15px;
  margin-left: 98px;
}

.display-none {
  display: none;
}
