/* -- ШРИФТЫ -- */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* -- ГЛОБАЛЬНЫЕ ТЕГИ -- */
body {
  margin: 0;


  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  /* text-align: center; раскомментить  */
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.img {
  width: 100%;
  height: auto;
}

/* -- ШРИФТЫ ОФОРМЛЕНИЕ -- */
/* заголовки */
.hero h1,
.hotel-filter h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
}

.advantages-title-container .title {
  margin-bottom: 25px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;

  margin: 0;
}

.advantages h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
}

.card-title a {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-filter h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

/*остальные тексты*/
/* header */
.main-header a {
  text-decoration: none;
}

.navigation a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;

  text-transform: capitalize;
}

.favorite-counter {
  font-size: 10px;
  line-height: 10px;
  color: rgb(255, 255, 255);
}

/* index */
.advantages-subtitle,
.service-subtitle {
margin: 0;
}

/* фильтр по отелям*/
.filter-navigation {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.filter-check,
.filter-radio {
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.price input {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

.price input::placeholder {
  color: rgba(0, 0, 0, 1);
}

.price label {
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

/* карточки */
.card-rating {
  font-size: 16px;
  line-height: 20px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
}

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

/* подписка */
.email-input {
  font-family: inherit;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: inherit;
  word-spacing: inherit;

  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.email-input::placeholder {
  color: rgba(0, 0, 0, 1);
}

/* подвал */
.main-footer .phone-number {
  font-size: 40px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}


/* -- BUTTONS -- */
.button {
  min-width: 40px;
  min-height: 20px;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: inherit;
  word-spacing: inherit;

  border: none;
  border-radius: 4px;
}

.button-basic {
  background-color:  rgba(117, 97, 87, 1);
}

.button-secondary {
  background-color: rgba(130, 179, 211, 1);
}

.subscription .button {
  font-size: 20px;
  line-height: 36px;
}

.cancel-button {
  background-color: transparent;
}

.favorite-added {
  background-color: rgba(125, 181, 79, 1);
}

/* -- ОСНОВНАЯ СТИЛИЗАЦИЯ -- */
.container {
  max-width: 1200px;
  margin: auto;
}

/* -- HEADER -- */
.main-header {
  display: flex;
  margin: -6px;
  padding: 0 70px;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;

  list-style: none;
}

.header-logo {
  display: block;
  width: auto;
  height: 70px;
  z-index: 2;
}

.navigation-item {
  padding: 20px 16px;
  z-index: 2;
}

.navigation-item a{
  padding: 16px 0;
}

.nav-current a {
  border-bottom: solid 2px rgba(117, 98, 87, 1);
}

.user-communication {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.header-icon-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px 12px;

  background-repeat: no-repeat;
  background-position: center;
}

.header-search-button {
  background-image: url(../images/icon-search.svg);
}

.header-favorite-button {
  background-image: url(../images/icon-favorite.svg);
}

.favorite-counter {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 9px;

  font-size: 10px;
  line-height: 10px;

  background-color: rgba(125, 181, 79, 1);
  border-radius: 50%;
}

.user-communication .button-basic {
margin-left: 20px;
}

/* -- INDEX -- */
/* hero */
.hero {
  position: relative;

  margin: 0;
  padding: 0;

  width: 1200px;
  height: 485px;

  background-image: url(../images/hero-background-decoration.svg), url(../images/hero-background.jpg);
  background-position: center bottom, center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);

  z-index: 0;
}

.hero-frontground-image {
  position: absolute;
  top: 0;
  bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
  margin-top: 51.4px;
}

/* причины */
.about {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.advantages-title-container {
  width: 1200px;
  padding: 69px 0;

  text-align: center;
}

.advantages-list,
.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.advantages-card,
.service-card  {
  display: flex;
  width: 400px;
  min-height: 385px;

  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  padding: 0 85px;
}

.advantages-title:after {
  position: relative;
  display: block;

  content: "";
  margin: 30px auto 0 auto;

  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);;
}

.advantages-card:nth-child(4n+1) .advantages-title:after {
  position: relative;
  display: block;

  content: "";
  margin: 30px auto 0 auto;

  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-card img,
.service-card img{
  display: block;
}

.advantages-card:nth-child(odd){
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-card:nth-child(even){
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-card:nth-child(4n+1) {
    display: flex;
    width: 1200px;

    color: rgb(255, 255, 255);
    background-color: rgba(130, 179, 211, 1);
}



/* сервисы */
.services-title-container {
  width: 1200px;
  padding: 64px 0;

  text-align: center;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  padding: 80px 85px;
}

.service-card:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12)
}

.service-card:nth-child(even){
  background-color: rgba(131, 179, 211, 0.06);
}

.service-title:before {
  position: relative;
  display: block;
  width: 75px;
  height: 72px;

  margin: 0 auto 30px auto;
}

.service-housing .service-title:before {
  content: url(../images/services-hotels.svg);
}

.service-food .service-title:before {
  content: url(../images/services-restorants.svg);
}

.service-souvenirs .service-title:before {
  content: url(../images/services-souvenirs.svg);
}

.search {
  display: flex;
  flex-direction: column;
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
}

.search .button {
  margin-top: 54px;
}


/* -- CATALOG -- */
/* каталог фильтр */
.hotel-filter {
  width: 1200px;
  /* height: 412px; раскомментить
  margin: 0 auto; раскомментить */

  /* background-image: url(../images/filter-background.jpg); раскомментить */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);
}

.hotel-filter a {
  display: block;
  width: 40px;
}

.main-icon {
  width: 12px;
  height: 12px;

  background: url(../images/icon-house.svg) no-repeat;
}

.hotel-filter ol,
.hotel-filter ul {
  margin-left: 0;
  padding-left: 0;

  list-style: none;
}

.hotel-filter fieldset {
  margin-left: 0;
  padding-left: 0;
}

.hotel-search-form {
  display: flex;
}

.search-results-header {
  display: flex;
}

.catalog-view-switcher {
  display: flex;
}

.search-results-cards {
  display: flex;
}

/* ЧЕКБОКСЫ
.filter-check,
.filter-radio {
  padding-left: 25px;
}

.checkbox-input,
.radio-input {
  position: absolute;

  width: 12px; /*для IE6 и 7*/ /*
  margin-left: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -20px;

  background-image: url(../images/icon-checkbox-empty.svg);
}


.checkbox-input:checked + .checkbox {
  background-image: url(../images/icon-checkbox-checked.svg);
} */

/* каталог каталог */
.sort-by {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  box-sizing: border-box;

  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  background-color: rgb(255, 255, 255);

  appearance: none;
}

.sort-by:not([multiple]) {
  padding-right: 50px;

  background-image: url(../images/icon-arrow.svg);
  background-position: calc(100% - 21.025px) 50%;
  background-size: 11.925px 7.025px;
  background-repeat: no-repeat;
}

.catalog-view-switcher {
  margin-left: 0;
  padding-left: 0;

  list-style: none;
}

.view-switcher-button {
  width: 48px;
  height: 48px;

  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
}

  .catalog-view-tile {
    background-image: url(../images/catalog-tile.svg);
  }

  .catalog-view-slideshow {
    background-image: url(../images/catalog-slideshow.svg);
  }

  .catalog-view-list {
    background-image: url(../images/catalog-list.svg);
}

.search-results-cards {
  margin-left: 0;
  padding-left: 0;

  list-style: none;
}


.one-star-hotel {
  display: block;
  width: 18px;
  height: 17px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.two-stars-hotel {
  display: block;
  width: 36px;
  height: 17px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.three-stars-hotel {
  display: block;
  width: 54px;
  height: 17px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.four-stars-hotel {
  display: block;
  width: 72px;
  height: 17px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.five-stars-hotel {
  display: block;
  width: 90px;
  height: 17px;

  background-image: url(../images/icon-hotel-star.svg);
  background-repeat: repeat;
}

.card-rating {
  display: flex;
  width: 140px;
  height: 37px;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.pagination {
  margin-left: 0;
  margin-right: 0;

  list-style: none;
}

.pagination-item {
  display: inline-block;
  margin-right: 8px;

  text-align: center;

  background-color: rgba(130, 179, 211, 1);
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;

  text-decoration: none;
  color: inherit;
}

.pagination-current {
  color: rgb(0, 0, 0);

  background-color: rgba(242, 242, 242, 1);
}

.pagination-next {
  color: rgb(0, 0, 0);

  background-color: transparent;
}


/* -- subscription -- */
.subscription {
  width: 1200px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;

  text-align: center;
}

.subscription-index {
  position: relative;

  color: white;

  background-image: url(../images/subscribe-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.32);
}

.subscription-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 54px;
}

.email-input {
  width: 60%;
  padding: 12px 20px;
}

.subscription-form .button-secondary {
  border-radius: 0;
  margin-left: auto;
}

/* -- FOOTER -- */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  box-sizing: border-box;
  padding: 40px 70px 30px 70px;
}

.social {
  display: flex;
  align-items: center;
  width: 142px;

  margin: 5px 0;
  padding: 0;
}

.social-item {
  display: block;
  width: 33%;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: center;

  list-style-type: none;
}

.social-item-button {
  display: block;
  height: 40px;

  background-repeat: no-repeat;
  }

  .social-vk {
    background-image: url(../images/social-vkontakte.svg);
    background-position: center;
    background-size: 24px 14px;
    background-repeat: no-repeat;
   }

  .social-tg {
    background-image: url(../images/social-telegram.svg);
    background-position: center;
    background-size: 18px 16px;
    background-repeat: no-repeat;
  }

  .social-yt {
    background-image: url(../images/social-youtube.svg);
    background-position: center;
    background-size: 22px 17px;
    background-repeat: no-repeat;
}
